<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="admin/inicio" class="brand-link text-center" >
      <img src="../assets/img/logo.png"  class="img-fluid" style=" width: 150px;">
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
     

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
          <li class="nav-item">
            <a class="nav-link" href="admin/inicio">
              <i class="fa-solid fa-house mr-2"></i>
              <p>
                Inicio
              </p>
            </a>
          </li>

          <li class="nav-item">

            <a class="nav-link" href="admin/mesas">
              <i class="fa-solid fa-mortar-pestle mr-2"></i>
              <p>
                Ver mesas
                
              </p>
            </a>            
          </li>

          <li class="nav-item">

            <a class="nav-link" href="admin/estadisticas">
              <i class="fa-solid fa-arrow-trend-up mr-1"></i>
              <p>
                Estadisticas
                
              </p>
            </a>            
          </li>

          <li class="nav-item" *ngIf="isAdmin">

            <a class="nav-link" href="admin/padrones">
              <i class="fa-solid fa-ruler mr-2"></i>
              <p>
                Padrones
                
              </p>
            </a>            
          </li>

          <li class="nav-item">

            <a class="nav-link" href="admin/stock-disponible">
              <i class="fa-solid fa-boxes-stacked mr-2"></i>
              <p >
                Stock Disponible
                
              </p>
            </a>            
          </li>

          <li class="nav-item" *ngIf="isAdmin">

            <a class="nav-link" href="admin/usuarios">
              <i class="fa-solid fa-user mr-2"></i>
              <p>
                Personas y Usuarios
                
              </p>
            </a>            
          </li>

          <li class="nav-item" *ngIf="isAdmin">

            <a class="nav-link"href="admin/maestro">
              <i class="fa-solid fa-folder mr-2" ></i>
              <p>
                Maestro de Articulos
                
              </p>
            </a>            
          </li>

          <li class="nav-item">

            <a class="nav-link" href="admin/pedido-stock">
              <i class="fa-solid fa-cart-shopping mr-2"></i>
              <p>
                Pedidos de Stock 
                <!-- <i class="right fas fa-angle-left"></i> -->
              </p>
            </a>            
          </li>

          <li class="nav-item">

            <a class="nav-link" href="admin/pedido-produccion">
              <i class="fa-solid fa-cart-shopping mr-2"></i>
              <p>
                Pedidos de Produccion 
                <!-- <i class="right fas fa-angle-left"></i> -->
              </p>
            </a>            
          </li>

          <li class="nav-item">

            <a class="nav-link" href="admin/disponibilidad">
              <i class="fa-solid fa-cubes"></i>
              <p>
                Disp. de Articulos
                <!-- <i class="right fas fa-angle-left"></i> -->
              </p>
            </a>            
          </li>

          <li class="nav-item" *ngIf="isAdmin">

            <a class="nav-link" href="admin/recetas">
              <i class="fa-solid fa-kitchen-set"></i>
              <p>
                Recetas
                <!-- <i class="right fas fa-angle-left"></i> -->
              </p>
            </a>            
          </li>

          <li class="nav-item" *ngIf="isAdmin">

            <a class="nav-link" href="admin/formas-pago">
              <i class="fa-solid fa-credit-card"></i>
              <p>
                Formas de Pago
                <!-- <i class="right fas fa-angle-left"></i> -->
              </p>
            </a>            
          </li>




          
  
        </ul>
          
          
       
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>