<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="dashboard" class="brand-link text-center" >
      <!-- <img src="../assets/dist/img/vale_logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> -->
      <span class="brand-text font-weight-heavy" style="font-weight: 700;">Dr.John</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      

      <!-- SidebarSearch Form -->
      <div class="form-inline mt-4" >
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
          <li class="nav-item">
            <a class="nav-link" href="/inicio">
              <i class="fa-solid fa-house mr-2"></i>
              <p>
                Inicio
              </p>
            </a>
          </li>

          <li class="nav-item">

            <a class="nav-link">
              <i class="fa-solid fa-mortar-pestle mr-2"></i>
              <p>
                Ver mesas
                
              </p>
            </a>            
          </li>

          <li class="nav-item">

            <a class="nav-link">
              <i class="fa-solid fa-arrow-trend-up mr-1"></i>
              <p>
                Estadisticas
                
              </p>
            </a>            
          </li>

          <li class="nav-item">

            <a class="nav-link">
              <i class="fa-solid fa-building-un mr-2"></i>
              <p>
                Unidades de medida
                
              </p>
            </a>            
          </li>

          <li class="nav-item">

            <a class="nav-link">
              <i class="fa-solid fa-user mr-2"></i>
              <p>
                Usuarios
                
              </p>
            </a>            
          </li>

          <li class="nav-item">

            <a class="nav-link">
              <i class="fa-solid fa-folder mr-2"></i>
              <p>
                Entidades
                
              </p>
            </a>            
          </li>

          <li class="nav-item">

            <a class="nav-link">
              <i class="fa-solid fa-cart-shopping mr-2"></i>
              <p>
                Pedidos de Stock
                <!-- <i class="right fas fa-angle-left"></i> -->
              </p>
            </a>            
          </li>




          
  
        </ul>
          
          
       
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>