<app-breadcrumbs [titulo]= 'breadcrumbItems'></app-breadcrumbs>


<div class="container">
    <div class="row">
        <div class="col col col-md-6">

            <h3>Tipos de Artículos</h3>
            <div class="text-right">
                <button type="button" class="btn btn-success " data-toggle="modal" data-target="#modalCrearTipo" aria-label="Editar Tipo">Agregar Tipo de Articulo</button>
            </div>
            <input pInputText type="text" (input)="applyFilterTipo($event)" placeholder="Buscar por Nombre.." class="mb-3">
            <p-table #dt [value]="filteredTipo" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" [tableStyle]="{'max-width': '100vw'}">
              <ng-template pTemplate="header"  class="p-overlaypanel-header p-component-header">
                  <tr class="table-header-color">
                      <th pSortableColumn="description">
                        Descripción
                          <p-sortIcon field="description" style="margin: 16px"></p-sortIcon>
                      </th>
                      <th>
                        Acciones
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData>
                <tr>
                  
                  <td>{{ rowData.description }}</td>
                  <td>
                    <button data-target="#modalCrearTipo" data-toggle="modal" (click)="editarTipo(rowData)"routerLinkActive="router-link-active"
                      type="button" class="btn btn-outline-primary" aria-label="Editar Producto">
                      <i class="fa-solid fa-pen-to-square"></i>
                  </button>
          
                        <button type="button" (click)="DataEntidad(rowData)" type="button" data-toggle="modal" data-target="#EliminarTipo"
                            class="btn btn-outline-danger ms-4" aria-label="Borrar Producto"><i
                                class="fa-solid fa-trash"></i></button>
                  </td>
                  
                </tr>
              </ng-template>
            </p-table>






          
        </div>

        <br><br>
        <div class="col col-md-6">


            <h3>Unidades de Medida</h3>
            <div class="text-right">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalCrearConversion">Agregar Unidades de Medida</button>
            </div>
            <input pInputText type="text" (input)="applyFilterUnidades($event)" placeholder="Buscar por Usuario.." class="mb-3">
            <p-table #dt [value]="filteredUnidades" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" [tableStyle]="{'max-width': '100vw'}">
              <ng-template pTemplate="header"  class="p-overlaypanel-header p-component-header">
                  <tr class="table-header-color">
                      <th pSortableColumn="uni_medida">
                        Unidad Principal
                          <p-sortIcon field="uni_medida" style="margin: 16px"></p-sortIcon>
                      </th>
                    <th pSortableColumn="">
                         
                        <p-sortIcon field="" style="margin: 16px"></p-sortIcon>
                    </th>

                    <th pSortableColumn="seg_umedida">
                        Unidad Secundaria
                       <p-sortIcon field="seg_umedida" style="margin: 16px"></p-sortIcon>
                   </th>
                      <th>
                        Acciones
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData>
                <tr>
                  <td>{{ rowData.cant_principal}} {{ rowData.uni_medida }}</td>
                  <td> ====> </td>
                  <td>{{ rowData.cant_secundaria }} {{ rowData.seg_umedida }}</td>
                  <td>
                    <button data-target="#modalCrearConversion" data-toggle="modal" (click)="editarConversion(rowData)"routerLinkActive="router-link-active"
                      type="button" class="btn btn-outline-primary" aria-label="Editar Producto">
                      <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                        <button type="button" (click)="DataEntidad(rowData)" type="button" data-toggle="modal" data-target="#EliminarConversion"
                            class="btn btn-outline-danger ms-4" aria-label="Borrar Producto"><i
                                class="fa-solid fa-trash"></i></button>
                  </td>
                  
                </tr>
              </ng-template>
            </p-table>
        </div>
    </div>
</div>


<!-- <======================================= MODALES ===================================> -->

<!-- Modal para crear un nuevo tipo de artículo -->
<div class="modal fade" id="modalCrearTipo" tabindex="-1" role="dialog" aria-labelledby="modalCrearTipoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearTipoLabel">Crear/Editar Tipo de Artículo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="tipoForm" (ngSubmit)="guardarNuevoTipo()">
                    <div class="form-group">
                      <label for="nombreTipo">Descricion</label>
                      <input type="text" class="form-control" id="nombreTipo" formControlName="description">
                      <div *ngIf="tipoForm.get('nombre')?.invalid && tipoForm.get('nombre')?.touched" class="text-danger">
                        Descripcion del tipo es requerido
                      </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para eliminar tipo de artículo -->
<div class="modal fade" id="EliminarTipo" tabindex="-1" role="dialog" aria-labelledby="modalCrearTipoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearTipoLabel">Desea usted eliminar este Tipo de Articulo?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                
                <p>Eliminar este tipo de Articulo causara que todas las entidades que estes enlazadas a el queden sin un tipo de articulo definido.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="EliminarArticulo()">Eliminar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal para crear un nuevo tipo de artículo -->
<div class="modal fade" id="modalCrearConversion" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Crear/Editar Tipo de Artículo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="conversionForm" (ngSubmit)="guardarNuevaConversion()" >
                    <div class="form-group">

                      <label for="nombreTipo">Unidad Principal</label>
                      <input type="text" class="form-control" id="nombreTipo" formControlName="uni_medida">
                      <div *ngIf="tipoForm.get('uni_medida')?.invalid && tipoForm.get('uni_medida')?.touched" class="text-danger">
                        La Unidad Principal es requerida.
                      </div>

                      <label for="nombreTipo">Valor Principal</label>
                      <input type="text" class="form-control" id="nombreTipo" formControlName="cant_principal">
                      <div *ngIf="tipoForm.get('seg_umedida')?.invalid && tipoForm.get('seg_umedida')?.touched" class="text-danger">
                        
                        La Cantidad Principal es requerida.
                      </div>

                      <label for="nombreTipo">Unidad Secundaria</label>
                      <input type="text" class="form-control" id="nombreTipo" formControlName="seg_umedida">
                      <div *ngIf="tipoForm.get('cant_principal')?.invalid && tipoForm.get('cant_principal')?.touched" class="text-danger">
                        La Unidad Secundaria es requerida.
                      </div>

                      <label for="nombreTipo">Valor Secundario</label>
                      <input type="text" class="form-control" id="nombreTipo" formControlName="cant_secundaria">
                      <div *ngIf="tipoForm.get('nombre')?.invalid && tipoForm.get('nombre')?.touched" class="text-danger">
                         La Cantidad Secundaria es requerida.
                      </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para eliminar Conversion-->
<div class="modal fade" id="EliminarConversion" tabindex="-1" role="dialog" aria-labelledby="modalCrearTipoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearTipoLabel">Desea usted eliminar esta Conversion?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                
                <p>Eliminar esta conversion causara que todas las entidades que estes enlazadas a ella queden sin una conversion definida.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="EliminarConversion()">Eliminar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>


