<app-breadcrumbs [titulo]= 'breadcrumbItems'></app-breadcrumbs>

<div class="text-right">
    <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#modalMaestroCrear" aria-label="Editar Tipo">Agregar Articulo</button>
</div>



<div class="container">
    <div class="row">
        <div class="col">


            <section style="margin: 16px">

                <input pInputText type="text" (input)="applyFilter($event)" placeholder="Buscar por nombre.." class="mb-3">
                <p-table #dt [value]="filteredMaestro" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" class="custom-datatable">
                <ng-template  pTemplate="header"  class="p-overlaypanel-header p-component-header">
                    <tr >
                    
                        <th pSortableColumn="descripcion">
                            Descripcion
                            
                        </th>
                        <th pSortableColumn="costo_unitario">
                            Costo Unit
                            
                        </th>
                        <th pSortableColumn="conversion_UM">
                            Tipo Articulo
                            
                        </th>
                        <th pSortableColumn="cant_fisica">
                            Unidad de Medida
                            <p-sortIcon field="cant_fisica" style="margin: 16px"></p-sortIcon>
                        </th>
                        <th pSortableColumn="cant_disponible">
                            Receta
                            <p-sortIcon field="cant_disponible" style="margin: 16px"></p-sortIcon>
                        </th>
                        
                        <th>
                            Acciones
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        
                        <td data-target="#Modal" data-toggle="modal" (click)="showCardDetails(rowData)" >{{ rowData.descripcion }}</td>
                        <td data-target="#Modal" data-toggle="modal" (click)="showCardDetails(rowData)"  >{{ rowData.costo_unitario }}</td>
                        <td data-target="#Modal" data-toggle="modal" (click)="showCardDetails(rowData)"  >{{ rowData.tipo_articulo.description }}</td>
                        <td data-target="#Modal" data-toggle="modal" (click)="showCardDetails(rowData)"  >{{ rowData.conversion_UM.uni_medida}} / {{ rowData.conversion_UM.seg_umedida}}</td>
                        <td>
                            <!-- Verifica si el array de recetas tiene longitud mayor a cero -->
                            <ng-container *ngIf="rowData.receta && rowData.receta.length > 0; else noContiene">
                                CONTIENE
                            </ng-container>
                           
                            <ng-template #noContiene>
                                NO CONTIENE
                            </ng-template>
                        </td>
                    
                    <td> 
                        <button (click)="editarTipo(rowData)" type="button" data-toggle="modal" data-target="#SumarCantidad" class="btn btn-outline-success" aria-label="Editar Tipo">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        <button (click)="editarTipo(rowData)" type="button" data-toggle="modal" data-target="#modalMaestroCrear" class="btn btn-outline-primary " aria-label="Editar Tipo">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger " data-toggle="modal" data-target="#EliminarMaestro" (click)="DataEntidad(rowData)" aria-label="Borrar Tipo">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>
                    
                    </tr>
                </ng-template>
                </p-table>
            
            </section>
            
        
        </div>
    </div>
</div>





<!-- <======================================= MODALES ===================================> -->

<!-- Modal para crear un nuevo tipo de artículo -->
<div class="modal fade" id="modalMaestroCrear" tabindex="-1" role="dialog" aria-labelledby="modalCrearTipoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearTipoLabel">Crear/Editar Maestro de Artículo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-dark">
                <form [formGroup]="maestroForm" (ngSubmit)="guardarNuevoMaetro()">
                    <div class="form-group">

                      <label for="nombreTipo">Descricion</label>
                      <input type="text" class="form-control bg-dark" id="nombreTipo" formControlName="description">
                      <div *ngIf="maestroForm.get('description')?.invalid && maestroForm.get('description')?.touched" class="text-danger">
                       Campo requerido
                      </div>

                      <label for="nombreTipo">Costo Unitario</label>
                      <input type="number" class="form-control bg-dark" id="costo_unit" formControlName="costo_unit">
                      <div *ngIf="maestroForm.get('costo_unit')?.invalid && maestroForm.get('costo_unit')?.touched" class="text-danger">
                        Campo requerido
                      </div>

                        <div class="form-group">
                                <label for="tipoArticulo">Tipo de Artículo</label>
                                <select class="form-control bg-dark" id="tipoArticulo" formControlName="tipoArticulo">
                                    <option *ngFor="let tipo of tiposArticulos" [value]="tipo.id">{{ tipo.description }}</option>
                                </select>
                                <div *ngIf="maestroForm.get('tipoArticulo')?.invalid && maestroForm.get('tipoArticulo')?.touched" class="text-danger">
                                    Tipo de artículo es requerido
                                </div>
                        </div>


                        
                            <div class="form-group">
                                <label for="conversionUM">Conversión de Unidad de Medida</label>
                                <select class="form-control bg-dark" id="conversionUM" formControlName="conversionUM">
                                    <option *ngFor="let conversion of conversionesUM" [value]="conversion.id">{{ conversion.uni_medida }} / {{ conversion.seg_umedida }}</option>
                                </select>
                                <div *ngIf="maestroForm.get('conversionUM')?.invalid && maestroForm.get('conversionUM')?.touched" class="text-danger">
                                    Campo requerido
                                </div>
                            </div>

                    </div>
                    
                    <button type="submit" class="btn btn-primary" [disabled]="!maestroForm.valid">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para eliminar tipo de artículo -->
<div class="modal fade" id="EliminarMaestro" tabindex="-1" role="dialog" aria-labelledby="modalCrearTipoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearTipoLabel">Desea usted eliminar este Maestro de Articulos?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center bg-dark">
                
                <p>Eliminar este Maestro de Articulos causara que todas las entidades que estes enlazadas a el queden sin un Maestro de Articulos definido.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="EliminarArticulo()">Eliminar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearTipoLabel">{{dataModal?.descripcion}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left bg-dark">
                <p><strong>Costo Unditario:</strong>  {{dataModal?.costo_unitario}}</p>
                <p><strong>Tipo de Articulo:</strong>  {{dataModal?.tipo_articulo?.description}}</p>
                <p><strong>Unidad de Medida:</strong>  {{ dataModal?.conversion_UM?.uni_medida}} / {{ dataModal.conversion_UM?.seg_umedida}}</p>
                <ng-container *ngIf="dataModal.receta && dataModal.receta.length > 0;">
                    <h6 class="text-center">Receta:</h6>
                    <p-table #dt [value]="dataModal.receta" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" class="custom-datatable">
                        <ng-template  pTemplate="header"  class="p-overlaypanel-header p-component-header">
                            <tr >
                              
                  
                                <th pSortableColumn="maestro_articulo.descripcion">
                                  Descripcion
                                  
                              </th>
                                <th pSortableColumn="cant_necesaria">
                                    Cantidad necesaria
                                    
                                </th>
                  
                                
                                  
                             
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData>
                          <tr>
                              
                              <td>{{ rowData.disponibilidad_articulo.maestro_articulo.descripcion}}</td>
                              <td class="text-center">{{ rowData.cant_necesaria}}</td>
                              
                           
    
                          </tr>
                        </ng-template>
                      </p-table>

                   
                </ng-container>
                
                
                

            </div>
            
        </div>
    </div>
</div>






