.container {
    display: flex;
  }
  
.content {
    flex-grow: 1; /* Ocupa el espacio restante */
    padding: 20px; /* Ajusta el espaciado según sea necesario */
  }
  
.page-title {
    margin-top: 3em; /* Espacio entre el encabezado y el título de la página */
}