<app-breadcrumbs [titulo]= 'breadcrumbItems'></app-breadcrumbs>
<br><br>

<div class="container">
    <h2>Productos Elaborados</h2>
    <input pInputText type="text" (input)="applyFilterProductos($event)" placeholder="Buscar por nombre.." class="mb-3">
    <p-table #dt [value]="filteredProductos" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" [tableStyle]="{'max-width': '100vw'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>Cantidad Disponible</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-producto>
            <tr>
                <td>{{ producto.name }}</td>
                <td>{{ producto.cantidadMaxima }} </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<br><br>

<div class="container">
    <h2>Bebidas</h2>
    <input pInputText type="text" (input)="applyFilterBebidas($event)" placeholder="Buscar por nombre.." class="mb-3">
    <p-table #dt [value]="filteredBebidas" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" [tableStyle]="{'max-width': '100vw'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>Cantidad Disponible</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bebida>
            <tr>
                <td>{{ bebida.name }}</td>
                <td>{{ bebida.cantidadMaxima }} </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<br><br>