<app-breadcrumbs [titulo]="breadcrumbItems"></app-breadcrumbs>
<br><br>

<div class="container">
  <h2>Disponibilidad General</h2>
  <input pInputText type="text" (input)="applyFilter($event)" placeholder="Buscar por nombre.." class="mb-3">
  <p-table #dt [value]="filteredData" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" [tableStyle]="{'max-width': '100vw'}">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Cantidad Disponible</th>
        <th>Tipo</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.cantidadMaxima }}</td>
        <td>{{ item.tipo }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>