<app-breadcrumbs [titulo]= 'breadcrumbItems' class="mb-3" ></app-breadcrumbs>
<div class="text-right">
    <button type="button" id="agregar" class="btn btn-success mr-2"  [routerLink]="['crear-editar']"> Agregar
        Pedido de Stock</button>
  </div>

  <h4 class="text-left mb-5 ml-2">Subtotal general: {{calcularSubtotalGeneral() | currency}}</h4>


  <div class="container">
    <div class="row">
        <div class="col">
            <div class="text-right">
                <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#modalCrearTipo" aria-label="Editar Tipo">Agregar Tipo</button>
            </div>
            <section style="margin: 16px">
                <table class="table table-hover">
                   
                    <thead>
                        <tr>
                            <th scope="col" data-toggle="modal">#</th>
                            <th scope="col">Mesa</th>
                            <th scope="col">Pedido?</th>
                            <th scope="col text-left">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr *ngFor="let mesa of listMesas" data-target="#Modal" data-toggle="modal" (click)="showCardDetails(mesa)">
                            <th scope="row" data-toggle="modal" data-target="#InsumoModal" (click)="showCardDetails(mesa)">{{ mesa.id }}</th>
                            <td data-toggle="modal" data-target="#InsumoModal" (click)="showCardDetails(mesa)">{{ mesa.mesa }}</td>
                            <td data-toggle="modal" data-target="#InsumoModal" (click)="showCardDetails(mesa)">
                              <!-- Verifica si el array de recetas tiene longitud mayor a cero -->
                              <ng-container *ngIf="mesa.maestro_articulos && mesa.maestro_articulos.length > 0; else noContiene">
                                  CONTIENE PEDIDO
                              </ng-container>
                             
                              <ng-template #noContiene>
                                  NO CONTIENE PEDIDO
                              </ng-template>
                          </td>

                            
                            <td>
                                <!-- Botones para editar y borrar el tipo de artículo -->
                                <div class="wrapper d-flex justify-content-end">
                                    <button type="button" class="btn btn-outline-primary"  aria-label="Editar Tipo" [routerLink]="['crear-editar', mesa.id]" >
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-danger ms-4" data-toggle="modal" data-target="#EliminarTipo" (click)="showCardDetails(mesa)" aria-label="Borrar Tipo">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>

  
  
  
<div class="modal fade modal" id="InsumoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-center ">{{ cardData.mesa }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <h6 class="text-center">Pedido:</h6>
          <div class="table-container">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Costo </th>
                  <th scope="col">Can. Solicitada</th>
                </tr>
              </thead>
              <tbody style="max-height: 300px; overflow-y: auto;">
                <tr *ngFor="let item of cardData?.maestro_articulos">
                  <th scope="row">{{item.id}}</th>
                  <td>{{item.descripcion}}</td>
                  <td>{{item.costo_unitario | currency}}</td>
                  <td>{{item.pedido_produccion?.cant_requerida}}</td>
                </tr>
              </tbody>
            </table>
            <p><strong>Subtotal de Mesa:</strong> {{cardData.precio | currency}}</p>
          </div>
        

      </div>
    </div>
  </div>
</div>
         


 

    
  
