<app-breadcrumbs [titulo]= 'breadcrumbItems' class="mb-3" ></app-breadcrumbs>

<div class="text-right">
    <button type="button" id="agregar" class="btn btn-success mr-2"  [routerLink]="['crear-editar']"> Agregar
        Pedido de Stock</button>
</div>

  <div class="container">
    <input pInputText type="text" (input)="applyFilter($event)" placeholder="Buscar por nombre.." class="mb-3">
    <p-table #dt [value]="filteredPedidos" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" class="custom-datatable">
      <ng-template  pTemplate="header"  class="p-overlaypanel-header p-component-header">
          <tr >
            <th pSortableColumn="id">
                ID
                <p-sortIcon field="id" style="margin: 16px"></p-sortIcon>
            </th>

              <th pSortableColumn="mesa">
                Mesa
                <p-sortIcon field="mesa" style="margin: 16px"></p-sortIcon>
            </th>
              <th pSortableColumn="pedidos">
                  Pedido?
                  <p-sortIcon field="pedidos" style="margin: 16px"></p-sortIcon>
              </th>
              <th>
                Acciones
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr>
            <td data-toggle="modal" data-target="#InsumoModal" (click)="showCardDetails(rowData)" >{{ rowData.id }}</td>
            <td data-toggle="modal" data-target="#InsumoModal" (click)="showCardDetails(rowData)">{{ rowData.mesa }}</td>
            <td data-toggle="modal" data-target="#InsumoModal" (click)="showCardDetails(rowData)">
                <!-- Verifica si el array de recetas tiene longitud mayor a cero -->
                <ng-container *ngIf="rowData.maestro_articulos && rowData.maestro_articulos.length > 0; else noContiene">
                    CONTIENE PEDIDO
                </ng-container>
               
                <ng-template #noContiene>
                    NO CONTIENE PEDIDO
                </ng-template>
            </td>
         
          <th>
            <button routerLinkActive="router-link-active"
              type="button" class="btn btn-outline-primary" aria-label="Editar Producto" [routerLink]="['crear-editar', rowData.id]"   >
              <i class="fa-solid fa-pen-to-square"></i>
          </button>
  
                <button type="button" (click)="eliminarPedido(rowData.id, rowData)"
                    class="btn btn-outline-danger ms-4" aria-label="Borrar Producto"><i
                        class="fa-solid fa-trash"></i>
                </button>
          </th>
          
        </tr>
      </ng-template>
    </p-table>

</div>

  
  
  
<div class="modal fade modal" id="InsumoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-center ">{{ cardData.mesa }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-dark">
        
        <h6 class="text-center">Pedido:</h6>
          <div class="table-container">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Costo </th>
                  <th scope="col">Can. Solicitada</th>
                </tr>
              </thead>
              <tbody style="max-height: 300px; overflow-y: auto;">
                <tr *ngFor="let item of cardData?.maestro_articulos">
                  <th scope="row" class="bg-dark">{{item.id}}</th>
                  <td class="bg-dark">{{item.descripcion}}</td>
                  <td class="bg-dark">{{item.costo_unitario | currency}}</td>
                  <td class="bg-dark">{{item.pedido_produccion?.cant_requerida}}</td>
                </tr>
              </tbody>
            </table>
            <p><strong>Subtotal de Mesa:</strong> {{cardData.subtotal | currency}}</p>
          </div>
        

      </div>
    </div>
  </div>
</div>
         

<div class="modal fade" id="eliminarPedido" tabindex="-1" role="dialog" aria-labelledby="modalCrearTipoLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
          <div class="modal-header">
              <h5 class="modal-title" id="modalCrearTipoLabel">Desea usted eliminar esta pedido de la mesa {{cardData.mesa}}?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body text-center bg-dark">
              
              <p>Eliminar este pedido solo eliminara el pedido de la mesa.</p>

          </div>
          <div class="modal-footer bg-dark">
              <button type="button" class="btn btn-danger" (click)="eliminarPedido(cardData.id, cardData)">Eliminar</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Volver</button>
          </div>
      </div>
  </div>
</div>
 

    
  
