
<app-breadcrumbs [titulo]= 'breadcrumbItems'></app-breadcrumbs>
<div class="text-right">
    <button type="button" class="btn btn-success mr-2" aria-label="Editar Tipo" data-target="#RecetaModal" data-toggle="modal"> Agregar Receta</button>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            
            
            <section style="margin: 16px">
                <h3>Productos elaborados</h3>
                <p-table [value]="listMaestro" class="p-datatable-sm p-datatable-gridlines" [paginator]="true" [rows]="10" selectionMode="single" (onRowSelect)="showCardDetails($event.data)">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>#</th>
                            <th>Descripción</th>
                            <th>Costo Unit</th>
                            <th>Tipo Articulo</th>
                            <th>Unidad de Medida</th>
                            
                            <th>Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-tipo>
                        <tr >
                            <td data-target="#Modal" data-toggle="modal" (click)="showCardDetails(tipo)">{{ tipo.id }}</td>
                            <td data-target="#Modal" data-toggle="modal" (click)="showCardDetails(tipo)">{{ tipo.descripcion }}</td>
                            <td data-target="#Modal" data-toggle="modal" (click)="showCardDetails(tipo)">{{ tipo.costo_unitario | currency }}</td>
                            <td data-target="#Modal" data-toggle="modal" (click)="showCardDetails(tipo)">{{ tipo.tipo_articulo.description }}</td>
                            <td data-target="#Modal" data-toggle="modal" (click)="showCardDetails(tipo)">{{ tipo.conversion_UM.uni_medida }} / {{ tipo.conversion_UM.seg_umedida }}</td>
                           
                            <td>
                                <div class="d-flex justify-content-end">
                                    <button type="button" (click)="redirectCrearElaborado(tipo)" class="btn btn-outline-primary">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-danger ms-4" data-toggle="modal" data-target="#EliminarMaestro" (click)="DataEntidad(tipo)" aria-label="Borrar Tipo">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </section>
        </div>
    </div>

    <div class="col">
            
            
        <section style="margin: 16px">
            <h4> Bebidas</h4>
            <p-table [value]="listBebidas" class="p-datatable-sm p-datatable-gridlines" [paginator]="true" [rows]="10" selectionMode="single" (onRowSelect)="showCardDetails($event.data)">
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Descripción</th>
                        <th>Costo Unit</th>
                        <th>Tipo Articulo</th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tipo>
                    <tr>
                        <td data-target="#BebidaModal" data-toggle="modal" (click)="onModalShow(tipo)">{{ tipo.id }}</td>
                        <td data-target="#BebidaModal" data-toggle="modal" (click)="onModalShow(tipo)">{{ tipo.NombreArticulo?.descripcion }}</td>
                        <td data-target="#BebidaModal" data-toggle="modal" (click)="onModalShow(tipo)">{{ tipo.NombreArticulo?.costo_unitario | currency }}</td>
                        <td data-target="#BebidaModal" data-toggle="modal" (click)="onModalShow(tipo)">{{ tipo.NombreArticulo?.tipo_articulo?.description }}</td>
                        <td>
                            <div class="d-flex ">
                                <button type="button" [routerLink]="['crear-editar', accionBebida, tipo.id]" class="btn btn-outline-primary">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button type="button" class="btn btn-outline-danger ms-4" data-toggle="modal" data-target="#EliminarBebida" (click)="DataEntidad(tipo)" aria-label="Borrar Tipo">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </section>
        
    </div>

</div>


<!-- <======================================= MODALES ===================================> -->



<!-- Modal para eliminar tipo de artículo -->
<div class="modal fade" id="EliminarMaestro" tabindex="-1" role="dialog" aria-labelledby="modalCrearTipoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearTipoLabel">Desea usted eliminar este Receta?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center bg-dark">
                
                <p>Esta seguro de que quiere eliminar esta Receta?</p>

            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-danger" (click)="RecetaArticulo()">Eliminar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="EliminarBebida" tabindex="-1" role="dialog" aria-labelledby="modalCrearTipoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearTipoLabel">Desea usted eliminar esta Bebida?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center bg-dark">
                
                <p>Esta seguro de que quiere eliminar esta Bebida?</p>

            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-danger" (click)="eliminarBebida()">Eliminar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearTipoLabel">{{dataModal?.descripcion}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left bg-dark">
                <p><strong>Costo Unditario:</strong>  {{dataModal?.costo_unitario | currency }}</p>
                <p><strong>Tipo de Articulo:</strong>  {{dataModal?.tipo_articulo?.description}}</p>
                <p><strong>Unidad de Medida:</strong>  {{ dataModal?.conversion_UM?.uni_medida}} / {{ dataModal.conversion_UM?.seg_umedida}}</p>
                <ng-container *ngIf="dataModal.receta && dataModal.receta.length > 0;">
                    <h6 class="text-center">Receta:</h6>

                    <p-table #dt [value]="dataModal.receta" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" class="custom-datatable">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="disponibilidad_articulo.maestro_articulo.descripcion">
                                    Descripción
                                    <p-sortIcon field="disponibilidad_articulo.maestro_articulo.descripcion"></p-sortIcon>
                                </th>
                                <th pSortableColumn="cant_necesaria">
                                    Cantidad Necesaria
                                    <p-sortIcon field="cant_necesaria"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData>
                            <tr>
                                <td>{{ rowData.disponibilidad_articulo.maestro_articulo.descripcion }}</td>
                                <td class="text-center">{{ rowData.cant_necesaria }} </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </ng-container>
                
                
                

            </div>
            
        </div>
    </div>
</div>


<div class="modal fade" id="BebidaModal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearTipoLabel">{{dataModal?.NombreArticulo?.descripcion}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left bg-dark">
                <p><strong>Costo Unditario:</strong>  {{dataModal?.NombreArticulo?.costo_unitario | currency }}</p>
                <p><strong>Tipo de Articulo:</strong>  {{dataModal?.NombreArticulo?.tipo_articulo?.description}}</p>
                <p><strong>Medida total:</strong>  {{dataModal?.cantidadTotalRecipiente}} ml</p>

                
                    <h6 class="text-center">Receta:</h6>
                    
                    <p-table #dt [value]="recetaList" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" class="custom-datatable">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="descripcion">
                                    Descripción
                                    <p-sortIcon field="descripcion"></p-sortIcon>
                                </th>
                                <th pSortableColumn="cantidadNecesaria">
                                    Cantidad Necesaria
                                    <p-sortIcon field="cantidadNecesaria"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData>
                            <tr>
                                <td>{{ rowData.descripcion }}</td>
                                <td class="text-center">{{ rowData.cantidadNecesaria }} %</td>
                            </tr>
                        </ng-template>
                    </p-table>
                        



                       
                    
                
                
                
                

            </div>
            
        </div>
    </div>
</div>


<div class="modal fade" id="RecetaModal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearTipoLabel">¿Qué receta desea crear?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center bg-dark" >
                <label for="">Elija la opcion requerida:</label>
                <br>
                <select id="tipoReceta" [(ngModel)]="tipoRecetaSeleccionada">
                    <option [value]="accionBebida">Bebida</option>
                    <option [value]="accionReceta">Producto Elaborado</option>
                </select>
            </div>

            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="Reenviar()">Guardar</button>
            </div>
        </div>
    </div>
</div>







