
<app-breadcrumbs [titulo]= 'breadcrumbItems'></app-breadcrumbs>
<div class="text-right">
    <button type="button" class="btn btn-success mr-2" aria-label="Editar Tipo" [routerLink]="['crear-editar', accionReceta]">Agregar Receta Comida</button>
    <button type="button" class="btn btn-primary mr-2" aria-label="Editar Tipo" [routerLink]="['crear-editar', accionBebida]">Agregar Receta Bebida</button>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            
            
            <section style="margin: 16px">
                <h3>Producos elaborados</h3>
                <table class="table table-hover">
                   
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Costo Unit</th>
                            <th scope="col">Tipo Articulo</th>
                            <th scope="col">Unidad de Medida</th>
                            <th scope="col">Recetas</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr *ngFor="let tipo of listMaestro" (click)="showCardDetails(tipo)">
                            <th scope="row">{{ tipo.id }}</th>
                            <td data-target="#Modal" data-toggle="modal" >{{ tipo.descripcion }}</td>
                            <td data-target="#Modal" data-toggle="modal" >{{ tipo.costo_unitario }}</td>
                            <td data-target="#Modal" data-toggle="modal" >{{ tipo.tipo_articulo.description }}</td>
                            <td data-target="#Modal" data-toggle="modal" >{{ tipo.conversion_UM.uni_medida}} / {{ tipo.conversion_UM.seg_umedida}}</td>
                            <td>
                                <!-- Verifica si el array de recetas tiene longitud mayor a cero -->
                                <ng-container *ngIf="tipo.receta && tipo.receta.length > 0; else noContiene">
                                    CONTIENE
                                </ng-container>
                               
                                <ng-template #noContiene>
                                    NO CONTIENE
                                </ng-template>
                            </td>
                            <td>
                                <!-- Botones para editar y borrar el tipo de artículo -->
                                <div class="wrapper d-flex justify-content-end">
                                    <button type="button" [routerLink]="['crear-editar', tipo.id]" class="btn btn-outline-primary" >
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-danger ms-4" data-toggle="modal" data-target="#EliminarMaestro" (click)="DataEntidad(tipo)" aria-label="Borrar Tipo">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>

    <div class="col">
            
            
        <section style="margin: 16px">
            <h4> Bebidas</h4>
            <table class="table table-hover">
               
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Costo Unit</th>
                        <th scope="col">Tipo Articulo</th>
                        
                        
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let tipo of listBebidas" (click)="showCardDetails(tipo)">
                        <th scope="row">{{ tipo.id }}</th>
                        <td data-target="#BebidaModal" data-toggle="modal" >{{ tipo.NombreArticulo?.descripcion }}</td>
                        <td data-target="#BebidaModal" data-toggle="modal" >{{ tipo.NombreArticulo?.costo_unitario | currency}}</td>
                        <td data-target="#BebidaModal" data-toggle="modal" >{{ tipo.NombreArticulo?.tipo_articulo?.description }}</td>
                        
                       
                        <td>
                            <!-- Botones para editar y borrar el tipo de artículo -->
                            <div class="wrapper d-flex justify-content-end">
                                <button type="button" [routerLink]="['crear-editar', accionBebida, tipo.id]" class="btn btn-outline-primary" >
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button type="button" class="btn btn-outline-danger ms-4" data-toggle="modal" data-target="#EliminarBebida" (click)="DataEntidad(tipo)" aria-label="Borrar Tipo">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>

</div>


<!-- <======================================= MODALES ===================================> -->



<!-- Modal para eliminar tipo de artículo -->
<div class="modal fade" id="EliminarMaestro" tabindex="-1" role="dialog" aria-labelledby="modalCrearTipoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearTipoLabel">Desea usted eliminar este Receta?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                
                <p>Esta seguro de que quiere eliminar esta Receta?</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="RecetaArticulo()">Eliminar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="EliminarBebida" tabindex="-1" role="dialog" aria-labelledby="modalCrearTipoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearTipoLabel">Desea usted eliminar esta Bebida?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                
                <p>Esta seguro de que quiere eliminar esta Bebida?</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="eliminarBebida()">Eliminar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearTipoLabel">{{dataModal?.descripcion}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <p><strong>Costo Unditario:</strong>  {{dataModal?.costo_unitario}}</p>
                <p><strong>Tipo de Articulo:</strong>  {{dataModal?.tipo_articulo?.description}}</p>
                <p><strong>Unidad de Medida:</strong>  {{ dataModal?.conversion_UM?.uni_medida}} / {{ dataModal.conversion_UM?.seg_umedida}}</p>
                <ng-container *ngIf="dataModal.receta && dataModal.receta.length > 0;">
                    <h6 class="text-center">Receta:</h6>

                    <span class="card text-center" *ngFor="let item of dataModal.receta">
                        <div class="card-header text-center bg-success " > 
                            {{item.disponibilidad_articulo.maestro_articulo.descripcion}}
                        </div>
                        <div class="card-body">
                          <p><strong>Cantidad Necesaria:</strong> {{item.cant_necesaria}} </p>
                          <!-- <p><strong>Cantidad Fisica:</strong> {{item.cant_fisica}}</p> -->
                        </div>
                    </span>
                </ng-container>
                
                
                

            </div>
            
        </div>
    </div>

    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearTipoLabel">{{dataModal?.descripcion}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <p><strong>Costo Unditario:</strong>  {{dataModal?.costo_unitario}}</p>
                <p><strong>Tipo de Articulo:</strong>  {{dataModal?.tipo_articulo?.description}}</p>
                <p><strong>Unidad de Medida:</strong>  {{ dataModal?.conversion_UM?.uni_medida}} / {{ dataModal.conversion_UM?.seg_umedida}}</p>
                <ng-container *ngIf="dataModal.receta && dataModal.receta.length > 0;">
                    <h6 class="text-center">Receta:</h6>

                    <span class="card text-center" *ngFor="let item of dataModal.receta" >
                        <div class="card-header text-center bg-success"> 
                            {{item.disponibilidad_articulo.maestro_articulo.descripcion}}
                        </div>
                        <div class="card-body">
                          <p><strong>Cantidad Necesaria:</strong> {{item.cant_necesaria}} </p>
                          <!-- <p><strong>Cantidad Fisica:</strong> {{item.cant_fisica}}</p> -->
                        </div>
                    </span>
                </ng-container>
                
                
                

            </div>
            
        </div>
    </div>
</div>
</div>


<div class="modal fade" id="BebidaModal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearTipoLabel">{{dataModal?.NombreArticulo?.descripcion}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <p><strong>Costo Unditario:</strong>  {{dataModal?.NombreArticulo?.costo_unitario}}</p>
                <p><strong>Tipo de Articulo:</strong>  {{dataModal?.NombreArticulo?.tipo_articulo?.description}}</p>
                <p><strong>Medida total:</strong>  {{dataModal?.cantidadTotalRecipiente}} ml</p>

                
                    <h6 class="text-center">Receta:</h6>
                    
                        <span class="card text-center">
                            <div class="card-header text-center bg-success"> 
                                {{dataModal?.PrimerComponenteArticulo?.descripcion}} 
                            </div>
                            <div class="card-body">
                            <p><strong>Cantidad Necesaria:</strong> {{dataModal?.primerComponenteCantidad}} %</p>
                            <!-- <p><strong>Cantidad Fisica:</strong> {{item.cant_fisica}}</p> -->
                            </div>
                        </span>

                        <span class="card text-center">
                            <div class="card-header text-center bg-success"> 
                                {{dataModal?.SegundoComponenteArticulo?.descripcion}}
                            </div>
                            <div class="card-body">
                            <p><strong>Cantidad Necesaria:</strong> {{dataModal?.segundoComponenteCantidad}} %</p>
                            <!-- <p><strong>Cantidad Fisica:</strong> {{item.cant_fisica}}</p> -->
                            </div>
                        </span>

                        <ng-component *ngIf="dataModal?.TercerComponenteArticulo !== null">
                            <span class="card text-center">
                                <div class="card-header text-center bg-success"> 
                                    {{dataModal?.TercerComponenteArticulo?.descripcion}}
                                </div>
                                <div class="card-body">
                                <p><strong>Cantidad Necesaria:</strong> {{dataModal?.tercerComponenteCantidad}} %</p>
                                <!-- <p><strong>Cantidad Fisica:</strong> {{item.cant_fisica}}</p> -->
                                </div>
                            </span>
    

                        </ng-component>

                        <ng-component *ngIf="dataModal?.CuartoComponenteArticulo !== null">
                            <span class="card text-center">
                                <div class="card-header text-center bg-success"> 
                                    {{dataModal?.CuartoComponenteArticulo?.descripcion}}
                                </div>
                                <div class="card-body">
                                <p><strong>Cantidad Necesaria:</strong> {{dataModal?.cuartoComponenteCantidad}} %</p>
                                <!-- <p><strong>Cantidad Fisica:</strong> {{item.cant_fisica}}</p> -->
                                </div>
                            </span>
    

                        </ng-component>

                        <ng-component *ngIf="dataModal?.QuintoComponenteArticulo !== null">
                            <span class="card text-center">
                                <div class="card-header text-center bg-success"> 
                                    {{dataModal?.QuintoComponenteArticulo?.descripcion}}
                                </div>
                                <div class="card-body">
                                <p><strong>Cantidad Necesaria:</strong> {{dataModal?.quintoComponenteCantidad}} %</p>
                                <!-- <p><strong>Cantidad Fisica:</strong> {{item.cant_fisica}}</p> -->
                                </div>
                            </span>
    

                        </ng-component>
                        



                       
                    
                
                
                
                

            </div>
            
        </div>
    </div>
</div>








