<app-breadcrumbs [titulo]= 'breadcrumbItems' class="mb-3" ></app-breadcrumbs>

<div class="text-right">
    <button type="button" class="btn btn-success add mr-2" data-target="#crearMesa" data-toggle="modal" > Agregar
        Pedido</button>
</div>

<section class="text-center m-2">
      <div class="row">

        <div class="col-md-4 border-right">
            <h4 class="mb-3">Preparacion</h4>
            <div class="card" *ngFor="let preparacion of listPreparacion" >
              <div class="card-header bg-primary" (click)="showCardDetails(preparacion)" data-target="#InsumoModal" data-toggle="modal">
                {{preparacion.mesa}}
              </div>
              <div class="card-body" (click)="showCardDetails(preparacion)" data-target="#InsumoModal" data-toggle="modal">
               Esta mesa se encuentra en preparacion...
              </div>
              <div class="card-footer">
                <a class="btn btn-success mr-1" (click)="cambiarEstado(preparacion.id, preparacion, 'COMIENDO')">Llego su comida</a>
                <a class="btn btn-warning ml-1" href="admin/pedido-produccion">Crear Pedido</a>
                <a class="btn btn-outline-danger ml-1" (click)="cambiarEstado(preparacion.id, preparacion, 'CANCELADO')">Cancelado</a>
              </div>
            </div>
          </div>
  
  
        <div class="col-md-4 border-right">
          <h4 class="mb-3">Comiendo</h4>
    
          <div class="card" *ngFor="let comiendo of listComiendo">
            <div class="card-header bg-primary"(click)="showCardDetails(comiendo)"data-target="#InsumoModal" data-toggle="modal">
              {{comiendo.mesa}}
            </div>
    
            <div class="card-body"(click)="showCardDetails(comiendo)"data-target="#InsumoModal" data-toggle="modal">
                Esta mesa se encuentra esta comiendo...
            </div>
    
            <div class="card-footer">
              <button class="btn btn-success"  (click)="showCardDetails(comiendo)" (click)="cambiarEstado(comiendo.id, comiendo, 'FINALIZADO')">Finalizar</button>
              <a class="btn btn-outline-danger ml-1" (click)="cambiarEstado(comiendo.id, comiendo, 'FINALIZADO')" >Cancelado</a>
            </div>
          </div>
        </div>
  
  
        <div class="col-md-4 border-right" >
          <h4 class="mb-3">Finalizado</h4>
    
          <div class="card" *ngFor="let finalizado of listFinalizado">
            <div class="card-header bg-primary"(click)="showCardDetails(finalizado)" data-target="#InsumoModal" data-toggle="modal">
              {{finalizado.mesa}}
            </div>
    
            <div class="card-body"(click)="showCardDetails(finalizado)"data-target="#InsumoModal" data-toggle="modal">
                Esta mesa ya pidio la cuenta.
            </div>
            
          </div>
        </div>
      </div>
  
</section>



<!-- Modal para crear una mesa -->
<div class="modal fade" id="crearMesa" tabindex="-1" role="dialog" aria-labelledby="crearMesa" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearTipoLabel">Crear/Editar Tipo de Artículo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="guardarMesa()">
                    <div class="form-group">
                      <label for="nombreTipo">Nombre de la Mesa</label>
                      <input type="text" class="form-control" id="nombreTipo" formControlName="mesa">
                      <div *ngIf="form.get('mesa')?.invalid && form.get('mesa')?.touched" class="text-danger">
                        Descripcion del tipo es requerido
                      </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal ver una mesa -->
<div class="modal fade modal" id="InsumoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-center ">{{ cardData.mesa }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>Forma de Pago:</strong> Sin Definir.</p>
        <h6 class="text-center">Pedido:</h6>
        
        <div class="table-container">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Costo </th>
                <th scope="col">Can. Solicitada</th>
              </tr>
            </thead>
            <tbody style="max-height: 300px; overflow-y: auto;">
              <tr *ngFor="let item of cardData?.maestro_articulos">
                <th scope="row">{{item.id}}</th>
                <td>{{item.descripcion}}</td>
                <td>{{item.costo_unitario | currency}}</td>
                <td>{{item.pedido_produccion?.cant_requerida}}</td>
              </tr>
            </tbody>
          </table>
          <p><strong>Subtotal de Mesa:</strong> {{cardData.precio | currency}}</p>
        </div>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Volver</button>
        <button *ngIf="cardData.state=='PRESUPUESTADO'" type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateEntidad(cardData.id)"><i class="fa-solid fa-pen-to-square"></i></button>
      </div>
    </div>
  </div>
</div>



<!-- Modal para finalizar una mesa -->
<div class="modal fade" id="finalizarMesa" tabindex="-1" role="dialog" aria-labelledby="crearMesa" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="modalCrearTipoLabel">Que forma de pago elegira el cliente?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form [formGroup]="form" (ngSubmit)="guardarMesa('Finalizar')">
                  <div class="form-group">
                    <label for="nombreTipo">Nombre de la Mesa</label>
                    <input type="text" class="form-control" id="pago" formControlName="pago">
                    <div *ngIf="form.get('pago')?.invalid && form.get('pago')?.touched" class="text-danger">
                      Descripcion del tipo es requerido
                    </div>
                  </div>
                  
                  <button type="submit" class="btn btn-primary">enviar</button>
              </form>
          </div>
      </div>
  </div>
</div>