<app-breadcrumbs [titulo]= 'breadcrumbItems'></app-breadcrumbs>
<div class="text-right">
  <button type="button" id="agregar" class="btn btn-outline-warning mr-2" (click)="generarEstadisticasAleatorias()"> Generar Estadisticas Aleatorias</button>
  <button type="button" id="agregar" class="btn btn-outline-danger mr-2" (click)="borrarTodasLasEstadisticas()"> Eliminar Todos Los Datos</button>
  
</div>
<div class="container">
    <div class="row ">
        <div class="col-md-8">
            <h3>Estadisticas del Año</h3>
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"></apx-chart>
        </div>
        <div class="col-md-4">
            <h3>Últimos 7 días</h3>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Recaudacion</th>
                  <th>Costo</th>
                  <th>Profit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dia of ultimos7Dias">
                  <td>{{ dia.fecha }}</td>
                  <td>{{ dia.recaudacion | currency }}</td>
                  <td>{{ dia.costo_total | currency }}</td>
                  <td>{{ dia.profit | currency }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-md-4">
          <h3>Recaudacion Mes a Mes</h3>
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th>Mes</th>
                      <th>Recaudacion</th>
                      
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let mes of recaudacionPorMes">
                  <td>{{ mes.mes }}</td>
                  <td>{{ mes.recaudacion | currency }}</td>
                  
              </tr>
              </tbody>
          </table>
      </div>
    
</div>